<!DOCTYPE html>
<html>
  <head>
    <title>My First NodeJS APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= description %></p>
  </body>
</html>
